.container {
    width: 1300px;
    margin: 0 auto;
}

#header-bg-image {
    background: linear-gradient(#00000056, #1515153d), url("../img/hero_1.jpg")center/cover;
    height: 100vh;
}

.all-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    color: #fff;
    font: 600 30px 'Times New Roman', Times, serif;
    margin-right: 20px;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;
}

nav a {
    color: #ffffffb3;
    font: 500 14px arial;
    text-transform: capitalize;
    transition: .4s;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
}

.header-contact a {
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    border: 2px solid #ffffff33;
    font: 500 14px arial;
    text-transform: capitalize;
    transition: .4s;
    text-decoration: none;
}

.header-contact a:hover {
    border-color: #fc8621;
    background-color: #fc8621;
}

.fa-angle-down {
    margin-left: 10px;
}

/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* HEADER-CONTENT */
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.header-title h1,
.header-video a,
.header-loc p {
    color: #fff;
    text-transform: capitalize;
}

.header-title h1 {
    font: 600 60px arial;
    line-height: 70px;
}

.header-video a {
    font: 500 16px arial;
}

.fa-play,
.fa-map-marker-alt {
    margin-right: 10px;
}

.fa-play {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 50%;
}

.fa-map-marker-alt {
    background-color: #13111146;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
}

.header-loc {
    margin-left: 20px;
}

.header-loc p {
    font: 500 14px arial;
}

.about-us button {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #fc8621;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    font: 200 16px "Work Sans", sans-serif;
}

.about-us {
    margin: 60px 50px;
    display: flex;
    justify-content: space-around;
}

.about-us-content {
    width: 500px;
}

.about-us button:hover {
    background-color: #fdb97e;
    color: white;
    transition: 0.4s;
}

.about-us-content h3 {
    font: 500 20px "Work Sans", sans-serif;
    color: #fc8621;
}

.about-us-content h2 {
    font: 600 30px 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.about-us-content p {
    font: 400 16px "Work Sans", sans-serif;
    color: #212529;
    margin-top: 20px;
}

.about-us-img {
    display: flex;
    width: 500px;
    height: 450px;
    gap: 20px;
}

.about-us-img img {
    width: 300px;
    height: 280px;
}

.what-we-serve h3 {
    font: 500 20px "Work Sans", sans-serif;
    color: #fc8621;
}

.what-we-serve h2 {
    font: 600 30px 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.what-we-serve p {
    font: 400 16px "Work Sans", sans-serif;
    color: #212529;
    margin-top: 20px;
}

.what-we-serve {
    display: flex;
    justify-content: space-around;
}

.what-we-serve {
    width: 100%;
}

.destination-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.destination-controls span svg:hover {
    cursor: pointer;
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 10px;
}

.images img {
    width: 400px;
    height: 500px;
}

.images h2 {
    text-transform: capitalize;
    font: 600 30px 'Times New Roman', Times, serif;
    margin: 10px 0;
}

.images p {
    font: 400 18px "Work Sans", sans-serif;
    color: #696969;
}

.part-left {
    margin: 50px 0;
    width: 500px;

    h3 {
        font: 500 20px "Work Sans", sans-serif;
        color: #fc8621;
    }

    h2 {
        font: 600 40px 'Times New Roman', Times, serif;
        text-transform: capitalize;
    }

    h4 {
        font: 400 16px 'Times New Roman', Times, serif;
        color: #fc8621;
    }

    p {
        font: 400 18px "Work Sans", sans-serif;
        color: #696969;
    }

    span {
        font: 900 50px 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #000;
    }

    img {
        border-radius: 50px;
        width: 100px;
        height: 100px;
    }
}

.customers-and-faq {
    display: flex;

}

.part-right {
    margin: 50px 0;
}

button {
    position: relative;
    width: 500px;
    height: 50px;
    border: 0;
    cursor: pointer;
}

button div {
    transition: .5s;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    width: 150%;
    top: 40px;
}

button p {
    background-color: white;
    text-align: left;

    li {
        margin: 10px 0;
    }
}

button:hover {
    border: 1px solid blue;

    div {
        max-height: 200px;
        padding: 12px 10px;
    }
}

.blog-head {
    h3 {
        font: 500 20px "Work Sans", sans-serif;
        color: #fc8621;
    }

    h2 {
        font: 600 40px 'Times New Roman', Times, serif;
        text-transform: capitalize;
    }
}

.blog {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;

    h3 {
        font: 500 20px "Work Sans", sans-serif;
        color: #fc8621;
    }

    h2 {
        font: 600 40px 'Times New Roman', Times, serif;
        text-transform: capitalize;
    }

    h6 {
        font: 400 16px "Work Sans", sans-serif;
        color: #000000;
    }

    h5 {
        font: 600 20px 'Times New Roman', Times, serif;
        color: #000000;
    }

    a {
        font: 400 15px 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #fc8621;
        text-decoration: none;
    }

    img {
        width: 200px;
        height: 200px;
    }
}

.colorful-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100px;
    background-color: #fc8621;
}

.colorful-part h2 {
    margin: 20px 10px;
    font: 600 38px 'Times New Roman', Times, serif;
}

.colorful-part button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    margin: 20px 10px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    font: 500 14px arial;
    text-transform: capitalize;
    transition: .4s;
    text-decoration: none;
    width: 250px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #949494;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.3s, background-color 0.3s;
}

.social-icons a:hover {
    background-color: #ffffff;
    transform: scale(1.1);
}

.all-footer {
    display: flex;
    flex-direction: row;
}

.footer-part-one {
    margin: 50px 0;
    width: 400px;
    height: 600px;
    padding-right: 20px;

    h2 {
        font: 600 20px 'Times New Roman', Times, serif;
        color: #000000;
        margin: 15px 0;
    }

    p {
        font: 400 16px "Work Sans", sans-serif;
        color: #6d6d6d;
    }
}

.footer-part-two {
    margin: 50px 0;
    width: 400px;
    height: 600px;

    h2 {
        font: 600 20px 'Times New Roman', Times, serif;
        color: #000000;
        margin: 15px 0;
    }

    li {
        font: 400 16px "Work Sans", sans-serif;
        color: #6d6d6d;
        text-decoration: none;
        gap: 20px;
        line-height: 28px;
    }
}
.footer-part-three {
    margin: 50px 0;
    width: 400px;
    height: 600px;

    h2 {
        font: 600 20px 'Times New Roman', Times, serif;
        color: #000000;
        margin: 15px 0;
    }

    li {
        font: 400 16px "Work Sans", sans-serif;
        color: #6d6d6d;
        text-decoration: none;
        gap: 20px;
        line-height: 28px;
    }
}
.footer-part-four {
    margin: 50px 0;
    width: 400px;
    height: 600px;

    h2 {
        font: 600 20px 'Times New Roman', Times, serif;
        color: #000000;
        margin: 15px 0;
    }

    li {
        font: 400 16px "Work Sans", sans-serif;
        color: #6d6d6d;
        text-decoration: none;
        gap: 20px;
        line-height: 28px;
    }
}
.the-end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
}
.the-end h2 {
    font: 400 20px 'Times New Roman', Times, serif;
    color: #6d6d6d;
}
.the-end i {
    color: red;
    font-size: 18px;
    padding: 10px 10px;
}
.the-end a {
    text-decoration: none;
    color: #fc8621;
    padding: 10px 10px;
}